/* 
!2. Розібратися з nav-меню.
Його потрібно розтягнути на всю ширину ерану, щоб був красивий простір між посиланнями
*/

:root {
  background-image: url("../images/money.jpg");
  font-size: 12px;
}
*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0 auto;
}





header{
  text-align: center;
  background-color: hsla(56, 100%, 50%, 0.377);
}





main{
  display: flex;
  flex-direction: row;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}
fieldset{
  background-color: hsla(56, 100%, 50%, 0.247);
}
legend {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  color: #fff;
  padding: 3px 6px;
  margin-bottom: 10px;
}
label {
  display: flex;
  align-items: flex-end;
  margin-bottom: 12px;
  font-weight: bold;
  text-shadow: 0 -1px 8px #feffc6;
}
input {
  display: flex;
  margin-left: 20px;
}
main>form:first-child>fieldset:nth-child(3)>label>input:last-child{
  width: 4em;
}
/* .checkboxes{
  display: flex;
  flex-direction: column;
} */





button {
  height: 6vh;
  background-color: rgb(0, 148, 0);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(0, 80, 0);
}
img {
  display: flex;
  max-width: 160px;
  max-height: 160px;
  padding: 5px;
}
main>form:last-child>fieldset{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}






footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  text-align: center;
  background-color: black;
  border: 10px solid #b1b1b125;
}
ul {
  list-style-type: none;
  padding: 0;
  font-size: 0;
}
li {
  display: inline;
  align-items: center;
  background-color: rgba(56, 56, 56, 0.562);
  border: #ffffff4f 4px groove;
  margin: 10px 2vw;
  font-size: 1.3rem;
}
a{
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}
.logo{
  display: inline;
  max-width: 1.7em;
}





@media screen and (max-width: 719px),(max-height:359px) {
  ul {
    display: flex;
    flex-direction: column;
  }
  li{
    border: 0;
    margin: 1px;
    font-size: 1.3rem;
  }
  main{
    display: flex;
    flex-direction: column;
  }
}